*{
    padding: 0px;
    margin: 0px;
}

.menudown{
    width: 600px;
    height: 40px;
    background-color: #047baa;
    margin: 30px 30%;
    display: flex;
    
}

.menu{
    width: 20%;
    height: 100%;
    color: white;
}

.textcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.submenu{
    display: none;
    background-color: #373737;
    width: 160px;
}

.submenu div{
    color: white;
    padding: 10px;
}

.menu:hover{
    background-color: #084963;
}

.menu:hover .submenu{
    display: block;
}

.menu .submenu div:hover{
    background-color: #047baa;
}

.menuup{
    background-color: #047baa;
    margin: 30px auto auto 35%;
    width: 450px;
    height: 50px;
    background-color: #047baa;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.menuup button{
    background-color: #047baa;
    color: white;
    height: 100%;
    border: black solid 1px;
    width: 150px;
    float: left;
}

.buttonLeft{

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.buttonright{
    right: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.menuup button:hover{
    background-color: red;
}

