*{
    padding: 0px;
    margin: 0px;
}

.menudown{
    width: 600px;
    height: 40px;
    background-color: #047baa;
    margin: 30px 30%;
    display: flex;
    
}

.menu{
    width: 20%;
    height: 100%;
    color: white;
}

.textcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.submenu{
    display: none;
    background-color: #373737;
    width: 160px;
}

.submenu div{
    color: white;
    padding: 10px;
}

.menu:hover{
    background-color: #084963;
}

.menu:hover .submenu{
    display: block;
}

.menu .submenu div:hover{
    background-color: #047baa;
}